main{
    min-height: 80vh;
}
.rating span{
    margin:0.1rem;
}
h1{
    font-size: 1.8rem;
    padding:1rem 0;

}

h2{
    font-size: 1.4rem;
    padding: 0.5rem 0;
}
h3{
    font-size: 1rem o;
}
.search-input {
    width:400px;
}
.filter-form{
    margin-right: 30px;
    margin-top: 10rem;
}
@media (max-width: 768px) {
.filter-form{
    margin-right:px;
    margin-top:10rem;
}}
.small-input-group .form-control,
.small-input-group .input-group-text {
  height: 30px;
  font-size: 12px;
  width: auto;
  margin-right: 0px;
  margin-left: -50px
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }